language: python
python:
  - "2.6"
  - "2.7"
  - "3.4"
install:
  - pip install -e .
  - pip install coveralls
script:
  - coverage run setup.py test
  - coverage report -m
after_script:
  coveralls --verbose
